<h1>Employees#index</h1>
<p>Find me in app/views/employees/index.html.erb</p>

<table>
  <% @employees.each do |employee| %>
    <tr>
      <td>
        <%= link_to employee.full_name, employee %>
      </td>
      <td>
        <%= link_to "delete", employee, :method => :delete, 
          :confirm => "Are you sure you want to delete #{employee.full_name}?", :title => "Delete #{employee.full_name}"%>    
      </td>
      <td>
        <%= link_to "edit", edit_employee_path(employee) %>    
      </td>
    </tr>
  <% end %>
</table>
