
<p>First Name: <%= @employee.full_name %> </p>
<p>Roles: </p>
<ul>  
  <% @employee.roles.each do |role| %> 
    <li> <%=  role.name %> </li>
  <% end %>
</ul>

<p><%= link_to "Delete", @employee, :method => :delete, 
      :confirm => "Are you sure you want to delete #{ @employee.full_name }?" %> |
  <%= link_to "Edit", edit_employee_url(@employee) %>
</p>

