<table>

  <tr> 
    <td> Day Scheduled </td>
    <td> # of employees worked</td>
    <td></td>
    <td></td>
  </tr>
<% @schedules.each do |schedule| %>
  <tr>
    <td> <%= schedule.date %> </td>
    <td> <%= schedule.number_employees_today %> </td>
    <td> <%= link_to "Edit", edit_schedule_url(schedule) %> </td>
    <td> <%= link_to "Delete", schedule, :method => :delete,
      :confirm => "Are you sure you want to delete #{ schedule.date }?", :title => "Delete #{ schedule.date }." %> </td>
  </tr>
<% end %>
</table>
