<h1>Dashboard</h1>

<p> Total Employees: <%= pluralize( @employees.count, 'employee' ) %> </p>
<p> <%= link_to "Create New Employee", new_employee_url %>   </p>
<p> <%= link_to "All Employees", employees_url %>   </p>
